@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFF;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.clock {
  background: #c2c4c4;
  width: 370px;
  height: 370px;
  margin: 8% auto 0;
  border-radius: 50%;
  border: 14px solid #a37d2c;
  position: relative;
  box-shadow: #505050a9 0px 0px 15px;
}

.dot {
  width: 14px;
  height: 14px;
  border: 1px solid #333;
  border-radius: 50%;
  background: #a37e2c;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
  box-shadow: 0 2px 4px -1px black;
}


.minute-hand {
  position: absolute;
  z-index: 6;
  width: 4px;
  height: 122px;
  background: #000000;
  top: 46px;
  left: 50%;
  margin-left: -2.3px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 124px;
}

.second-hand {
  position: absolute;
  z-index: 7;
  width: 2px;
  height: 120px;
  background: #a37e2c;
  top: 44px;
  left: 50%;
  margin-left: -1px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 128px;
}


.diallines {
  position: absolute;
  z-index: 2;
  width: 1px;
  height: 7px;
  background: #0000007a;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 170px;
}

.diallines:nth-of-type(5n) {
  position: absolute;
  z-index: 2;
  width: 8px;
  height: 25px;
  background: #ffffff;
  border: 1px solid #a37e2c;
  left: 50%;
  margin-left: -4px;
  transform-origin: 50% 170px;
}

.clockDate {
  position: absolute;
  width: 40px;
  height: 27px;
  border-radius: 4px;
  text-align: center;
  color: #000000;
  font-size: 11px;
  top: 156px;
  right: 17%;
  font-family: "Poiret One";
  font-weight: 700;
  z-index: 3;
  letter-spacing: 3px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}



.info {
  position: absolute;
  width: 120px;
  height: 20px;
  border-radius: 7px;
  text-align: center;
  line-height: 20px;
  color: #000;
  font-size: 11px;
  top: 200px;
  left: 50%;
  margin-left: -60px;
  font-family: "Poiret One";
  font-weight: 700;
  z-index: 3;
  letter-spacing: 3px;
  margin-left: -60px;
  left: 50%;
}

.date {
  top: 80px;
}

.day {
  top: 200px;
  margin-top: 48px;
}

.gradient-bg {
  background-image: radial-gradient(circle, #333333, #2f2f2f, #2b2b2b, #282828, #242424, #212121, #1e1e1e, #1b1b1b, #181818, #161616, #131313, #0f0f0f);
}